@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, 
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: inherit;
}
ul {
    list-style: none;
}
nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 21px 22px 0px rgba(255,255,255,0.31);
    margin-bottom: 32px;
    width: 100%;
    height: 83px;
    position: relative;
    z-index: 1;
    .links {
        display: flex;
        gap: 36px;
        height: 100%;
    }
    ul {
        display: flex;
        align-items: center;
        gap: 36px;
        li {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            a {
                &:hover {
                    border-bottom: 1px solid #FFF;
                }
            }
        }
        li.brand {
            position: relative;
            a {
                display: flex;
                align-items: center;
            }
            .brands {
                position: absolute;
                flex-direction: column;
                gap: 10px;
                display: flex;
                align-items: baseline;
                top: 82px;
                background-color: rgb(0, 0, 0, 0.82);
                transition: .2s;
                overflow: hidden;
                padding: 0;
                height: 0;
                transition: .4s;
            }
            .brands.active {
                height: 210px;
                padding: 8px 22px 10px 6px;
                border: 1px solid #fff;
            }
            &:hover {
                .brands {
                    height: 210px;
                    padding: 8px 22px 10px 6px;
                    border: 1px solid #fff;
                }
            }
        }
    }
    img {
        width: 124px;
        height: 83px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        font-size: 20px;
        padding: 0 0 12px; 
        ul li.brand .brands {
            top: 37px;
        }
        img {
            width: 60px;
            height: 40px;
        }
    }
}
.cart {
    .overlay {
        position: fixed;
        background-color: rgb(0, 0, 0, 0.6);
        height: 100%;
        top: 0;
        width: 0;
        left: 0;
        z-index: 2;
        transition: .6s;
    }
    .cart-info {
        position: fixed;
        background-color: #FFFFFF;
        top: 0;
        transition: .8s;
        overflow: hidden;
        right: -50%;
        height: 100%;
        z-index: 3;
        width: 35%;
        padding: 12px 36px;
        .cart-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-weight: 500;
            }
            span {
                font-size: 20px;
                display: flex;
                cursor: pointer;
            }
        }
    }
}
.cart.active {
    .overlay {
        width: 100%;
    }
    .cart-info {
        right: 0;
    }
}
.hero-section {
    margin: 200px 0 0 64px;
    .hero-section-bg {
        position: absolute;
        max-width: 100vw;
        max-height: 100vh;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        filter: blur(1.1px) drop-shadow(2px 4px 6px black);
        z-index: -2;
    }
    h1 {
        color: #FFF;
        max-width: 900px;
        font-size: 38px;
        letter-spacing: 5px;
        span {
            font-weight: 300;
        }
        @media (max-width: 1024px) {
            max-width: 710px;
            font-size: 29px;
        }
        @media (max-width: 768px) {
            max-width: 656px;
            font-size: 26px;
        }
    }
    .btn {
        overflow: hidden;
        margin-top: 64px;
        display: inline-flex;
        padding: 5px;
        position: relative;
        a {
            background-color: #FFF;
            color: black;
            display: block;
            width: fit-content;
            padding: 16px 42px;
            position: relative;
            &::after,
            &::before {
                content: "";
                position: absolute;
                background-color: #FFF;
                transition: .4s ease-out;
            }
            &::after {
                width: 1px;
                height: 100%;
                right: -5px;
                top: 4px;
            }
            &::before {
                width: 100%;
                height: 1px;
                right: -5px;
                bottom: -5px;
            }
            &:hover {
                &::after {
                    top: -110%;
                }
                &::before {
                    right: 110%;
                }
            }
        }
        &::after,
        &::before {
            content: "";
            position: absolute;
            background-color: #FFF;
            transition: .4s ease-out;
        }
        &::after {
            width: 1px;
            height: 86%;
            right: 99%;
            top: 100%;
        }
        &::before {
            width: 95%;
            height: 1px;
            right: -169px;
            bottom: 98%;
        }
        &:hover {
            &::after {
                top: 0px;
            }
            &::before {
                right: 4%;
            }
        }
        @media (max-width: 625px) {
            margin-left: 26%;
        }
    }
    @media (max-width: 425px) {
        margin: 128px 0;
        h1 {
            font-size: 22px;
            text-align: center;
        }
        a {
            margin: 64px auto;
        }
    }
}
main {
    display: flex;
    margin: 0 24px;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
    ul.sidebar {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        margin: 24px;
        width: 342px;
        height: 100%;
        background-color: rgb(237 235 235 / 40%);
        font-size: 18px;
        position: sticky;
        top: 80px;        li {
            svg {
                font-size: 28px;
                margin-top: -3px;
                cursor: pointer;
                display: none;
            }
            h2 {
                letter-spacing: 1.4px;
                font-size: 32px;
            }
            span.brand {
                transform: translate(70px, -8px);
                display: inline-block;
                opacity: 0.85;
                letter-spacing: 2.2px;
                font-weight: 500;
                margin-bottom: 40px;
            }
            a {
                padding-left: 24px;
                font-weight: 500;
                letter-spacing: 2px;
                transition: .4s;
                display: flex;
                align-items: center;
                span {
                    width: 100px;
                }
                img {
                    max-width: 48px;
                    margin: 0;
                    opacity: 0;
                    transition: .4s;
                }                
                &:hover {
                    img {
                        opacity: 1;
                        transform: translateX(105px);
                    }
                }
            }
            a.active {
                img {
                    opacity: 1;
                    transform: translateX(105px);
                }
                
            }
        }

        @media (max-width: 1375px) {
            width: 280px;
            li {
                a.active {
                    img {
                        transform: translateX(60px);
                    }
                }
                &:hover {
                    a {
                        img {
                            transform: translateX(60px);
                        }
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
            position: static;
            width: auto;
            margin: 0;
            img {
                display: none;
            }
            h2 {
                display: none;
            }
            span.brand {
                transform: translate(0, 0) !important;
                margin: 0 !important;
            }
            li {
                svg {
                    display: inline-block;
                }
                &:first-child {
                    width: 100%;
                }
            }
        }
        @media (max-width: 680px) {
            li {
                width: 100%;
            }
        }
    }
    .unavailable {
        position: absolute;
        width: 780px;
        top: 30%;
        left: 30%;
        font-size: 24px;
        text-align: justify;
        @media (max-width: 1200px) {
            width: 580px;
            text-align: center;
            left: 40%;
        }
        @media (max-width: 1024px) {
            text-align: justify;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 750px) {
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 20px;
            top: 50%;
            width: 80%;
        }
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(280px,1fr));
        gap: 40px;
        margin: 60px 0;
        flex: calc(100% - 400px);

        .card {
            background-color: rgb(230, 228, 228, 42%);
            display: flex;
            flex-direction: column;
            max-height: 465px;
            .img {
                width: 100%;
                height: 250px;
                position: relative;
                img {
                    object-fit: cover;
                    transition: .2s;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                img.back {
                    width: 0;
                    height: 0;
                }
                img.front {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    img.front {
                        width: 0;
                        height: 0;
                    }
                    img.back {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .brand {             
                text-align: center;
                margin: 16px 0;
                font-weight: 700;
            }
            .content {
                padding: 0 16px;
                display: flex;
                justify-content: space-between;
                .car-name {
                    font-weight: 500;
                }
            }
            .btns {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 16px 0;
                button {
                    padding: 16px;
                    cursor: pointer;
                    transition: .2s;
                    border: none;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .buy {
                    background-color: #000;
                    color: #FFF;
                }
                .add-to-card {
                    position: relative;
                    transition: .4s;
                    span {
                        position: relative;
                        z-index: 1;
                    }
                    &::after,
                    &::before {
                        content : '';
                        width: 0;
                        height: 0;
                        position: absolute;
                        background-color: #000;
                        transition: .4s;
                    }
                    &::after {
                        left: 0;
                        top: 0;
                    }
                    &::before {
                        right: 0;
                        bottom: 0;
                    }
                    &:hover {
                        color: #FFF;
                        &::after,
                        &::before {
                            content : '';
                            width: 100%;
                            height: 51%;
                        }
                    }
                }
            }
        }
    }
    .car-details {
        display: flex;
        width: 100%;
        gap: 64px;
        .images {
            display: flex;
            flex-direction: column;
            width: 60%;
            .slider {
                display: flex;
                border-radius: 8px;
                box-shadow: 0px 0px 15px rgba(66, 64, 64, 0.5);
                overflow: hidden;
                img {
                    width: 100%;
                    height: 700px;
                    object-fit: cover;
                    display: none;
                    
                }
                img.active {
                    display: block;
                }
            }
            .btns {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 128px;
                margin-top: 20px;
                button {
                    padding: 10px 24px;
                    border: 1px solid black;
                    text-transform: uppercase;
                    background: none;
                    cursor: pointer;
                }
            }
        }
        .content {
            width: 30%;
            h1 {
                font-weight: 400;
                font-size: 26px;
                letter-spacing: 2px;
                span {
                    text-transform: uppercase;
                }
            }
            ul {
                margin-top: 48px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                list-style: inside;
                h2 {
                    font-weight: 400;
                }
                li {
                    margin-left: 16px;
                    font-size: 18px;
                }
            }
            .btns {
                margin-top: 48px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                button {
                    background: none;
                    border: 1px solid black;
                    padding: 12px ;
                    width: calc(100% - 124px);
                    cursor: pointer;
                    font-size: 16px;
                    position: relative;
                    transition: .6s;
                    &::after,
                    &::before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: #000;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: .2s;
                    }
                    &::after {
                        left: -28px;
                    }
                    &::before {
                        right: -28px; 
                    }
                    &:hover {
                        &::after {
                            left: 0px;
                        }
                        &::before {
                            right: 0px; 
                        }
                    }
                }
            }
        }
    }
    .form-container.active {
        width: 100%;
        height: 100%;
    }
    .form-container {
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        background-color: rgba(132, 132, 132, 0.35);
        transition: .4s;
        .form {
            padding: 40px;
            position: relative;
            width: 600px;
            height: 524px;
            background: #FFFFFF;
            border-radius: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .form-header {
                text-align: center;
                font-weight: 500;
                margin-bottom: 24px;
                letter-spacing: 1.6px;
            }
            .form-body {
                display: flex;
                flex-direction: column;
                gap: 36px;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                input {
                    font-size: inherit;
                    border: none;
                    border-bottom: 2px solid black;
                    width: calc(100% - 40px);
                    outline: none;
                    padding: 4px 0;
                    &:focus {
                        border-bottom: 2px solid #2f57eb;
                    }
                }
            }
            .form-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                margin-top: 48px;
                button {
                    align-items: center;
                    padding: 10px 16px;
                    width: 96px;
                    height: 44px;
                    border-radius: 8px;
                    cursor: pointer;
                    border: none;
                    color:  #1b4bf8;
                    font-weight: 800;
                    font-size: 16px;
                    background: none;
                }
                .submit {
                    color: #FFFFFF;
                    background-color: #1b4bf8;
                    transition: .2s;
                    &:hover {
                        background-color: #4a70fa;
                    }
                }
            }
        }
    }
}