@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, 
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: inherit;
}
ul {
    list-style: none;
}
nav {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: rgb(0, 0, 0, 0.82);
    box-shadow: 0 21px 22px 0px rgba(255,255,255,0.31);
    margin-bottom: 32px;
    width: 100%;
    height: 83px;
    position: relative;
    z-index: 1;
    .links {
        display: flex;
        gap: 36px;
        height: 100%;

    }
    ul {
        display: flex;
        align-items: center;
        gap: 36px;
        li {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            a {
                &:hover {
                    border-bottom: 1px solid #FFF;
                }
            }
        }
        li.brand {
            position: relative;
            a {
                display: flex;
                align-items: center;
            }
            .brands {
                position: absolute;
                flex-direction: column;
                gap: 10px;
                display: flex;
                align-items: baseline;
                top: 82px;
                background-color: rgb(0, 0, 0, 0.82);
                transition: .2s;
                overflow: hidden;
                padding: 0;
                height: 0;
                transition: .4s;
            }
            .brands.active {
                height: 210px;
                padding: 8px 22px 10px 6px;
                border: 1px solid #fff;
            }
            &:hover {
                .brands {
                    height: 210px;
                    padding: 8px 22px 10px 6px;
                    border: 1px solid #fff;
                }
            }
        }
    }
    img {
        width: 124px;
        height: 83px;
    }
    @media (max-width: 768px) {
        .links ul:first-child {
            display: none !important;
        }
    }
}
.hero-section {
    margin: 200px 0 0 64px;
    .hero-section-bg {
        position: absolute;
        max-width: 100vw;
        max-height: 100vh;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        filter: blur(1.1px) drop-shadow(2px 4px 6px black);
        z-index: -2;
    }
    h1 {
        color: #FFF;
        max-width: 900px;
        font-size: 38px;
        letter-spacing: 5px;
        span {
            font-weight: 300;
        }
        @media (max-width: 1024px) {
            max-width: 710px;
            font-size: 29px;
        }
        @media (max-width: 768px) {
            max-width: 656px;
            font-size: 26px;
        }
    }
    a {
        background-color: #FFF;
        color: black;
        margin-top: 64px;
        display: block;
        width: fit-content;
        padding: 16px 42px;
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            background-color: #FFF;
            transition: .1s;
        }
        &::after {
            width: 1px;
            height: 100%;
            right: -5px;
            top: 4px;
        }
        &::before {
            width: 100%;
            height: 1px;
            right: -5px;
            bottom: -5px;
        }
        &:hover {
            &::after {
                width: 100%;
                height: 1px;
                right: 4px;
                top: -4px;
            }
            &::before {
                width: 1px;
                height: 100%;
                left: -5px;
                bottom: 3px;
            }
        }
    }
    @media (max-width: 425px) {
        margin: 128px 0;
        h1 {
            font-size: 22px;
            text-align: center;
        }
        a {
            margin: 64px auto;
        }
    }
}
